<span class="right">
  Theme:
  <%= form.select :theme, themes.collect{ |t| [t.titleize, t.to_s] } %>

  Language:
  <%= form.collection_select :language_id, Language.all(:order => 'name'), :id, :name %>
</span>
<%= form.text_area :body, :rows => 35 %>
<br/><%= form.submit 'Save' %>
