<div id="page">
  <h1>About Snippy</h1>

  <p>Snippy is an open source clone of <a href="http://blog.pastie.org/">Josh Goebel&rsquo;s</a> <a href="http://pastie.org">Pastie</a>.</p>

  <p>A lot of Pastie users (including me) wanted a private version.  Snippy fills that void &ndash; enjoy.</p>

  <h2>Author</h2>

  <p>It was written by <a href="http://actsasflinn.com/articles/2008/07/07/ann-snippy-a-pastie-clone">Flinn Mueller</a> using Ruby on Rails 2.1 as a weekend project.  I felt like one of the best features of Pastie is code highlighting so I made it a priority.  Code highlighting is accomplished using a custom renderer with <a href="http://ultraviolet.rubyforge.org/">Ultraviolet</a>.  The <a href="http://ts.freelancing-gods.com/">Thinking Sphinx</a> plugin has been on my radar for a little while now so I felt like it was a good time to throw that in.</p>

  <h2>On Github</h2>

  <p>Git has also been on my radar for a little while.  So I figured I would host the project at Github - everyone wins.  Get the source on <a href="https://github.com/actsasflinn/snippy/tree/master">Github</a>.</p>

  <h2>Install</h2>

  <ol>
    <li>git clone git@github.com:actsasflinn/snippy.git</li>
    <li>cd snippy</li>
    <li>cp config/database.yml.example config/database.yml</li>
    <li>rake db:migrate</li>
    <li>rake db:bootstrap</li>
    <li>rake thinking_sphinx:configure</li>
    <li>rake thinking_sphinx:index</li>
    <li>rake thinking_sphinx:start</li>
    <li>./script/server</li>
    <li><a href="http://0.0.0.0:3000/">Start Snipping</a></li>
  </ol>
</div>