/* Globals */

html {
  background-color:#eee;
}
body {
  margin:0 auto;
  font-size:1em;
  font-family:'Lucida Grande',Verdana,Arial,Helvetica,sans-serif;
}
img {
  border:0;
}
span.total {
  color:#777;
  font-weight:normal;
}
h1 span.total {
  font-size:0.65em;
}
.right {
  float:right;
}
.pagination {
  margin:10px;
}

/* Header */

#header {
  background:black;
  height:70px;
  border-bottom:5px solid #008ad0;
}
#header h1 {
  float:left;
  margin:15px;
}
#header h1 a {
  color:#fff;
  text-decoration:none;
}
h1 {
  margin:0;
  padding:0;
  font-size:1.7 5em;
}
#menu {
  float:right;
  margin:0 25px;
}
#menu li {
  margin:0 5px;
  padding:25px 10px;
  text-align:center;
  list-style:none;
  float:left;
}
#menu a {
  color:#008ad0;
}
#menu a:hover {
  text-decoration:underline;
}
#search form {
  display:inline;
}

/* Content */

#content {
  float:left;
  margin:20px 30px 0 40px;
  min-height:500px;
  width:70%;
}
#sidebar {
  float:left;
  margin:20px 0;
  padding:0;
  width:15%;
}
#footer {
  padding:20px;
  margin:20px;
  clear:both;
}

/* Snippet */

.snippet {
  margin:5px;
  clear:both;
}
#snippet {
  padding:30px;
}
#syntax {
  overflow-x:auto;
  overflow-y:none;
}
#syntax pre, #syntax .line_numbers {
  padding-top:30px;
}

/* Show All Snippets */

#snippets_page, #languages_page, #page {
  padding:30px;
  background:#fff;
}
#snippets_page .snippet {
  background:#eee;
  padding:10px 20px;
  margin:25px 0;
  overflow-x:auto;
  overflow-y:none;
}
#snippets_page .snippet .right {
  color:#777;
}
.snippet .line_numbers {
  color:#aaa;
  text-align:right;
  float:left;
  font-family: Courier, "Courier New", monospace;
  font-size:1.25em;
  padding-right:10px;
  padding-top:15px
}
.line_numbers span {
  width:50px;
  margin:0 10px;
}

/* Snippet Form */

.snippet input[type=submit] {
  height:40px;
  width:80px;
  padding:20px;
  font-weight:bold;
  font-size:1.15em;
  float:right;
}
.snippet textarea, .snippet .body {
  border:5px solid #aaa;
  padding:10px;
  color:#fff;
  background-color:#333;
  width:98%;
}
.snippet textarea {
  padding:10px;
  font-size:1.5em;
}
.snippet input, .snippet .date {
  margin-top:5px;
}

/* Show Snippet */

.snippet pre {
  font-family: Courier, "Courier New", monospace;
  font-size:1.25em;
  margin:0;
  padding:0;
  padding-top:15px
}

/* Sidebar */

#sidebar .date span {
  font-weight: bold;
}

#sidebar .all {
  margin:20px 0;
}

#sidebar .menu {
  margin:20px 0;
}

/* Theme */

#themes {
  font-size:0.75em;
  color:#aaa;
  right:10px;
  top:10px;
  z-index:100;
}
#themes select {
  font-size:1em;
}